$screen1__text-color: rgb(0, 0, 0); 
$screen1__text-color-button: rgb(255, 255, 255);
$screen1__text-color-accent: rgb(15, 3, 124);
$screen1__batton-shadow: rgb(136, 141, 153);
$screen1__font-family: 'TildaSans', Arial, sans-serif;
$screen1__color-accent: rgb(50, 50, 50); //50, 50, 50
$about__text-color: rgb(0, 0, 0); 
// $about__mark-color: rgb(255, 255, 255); 
$about__color-accent: rgb(8, 8, 94); //8, 8, 94
$about__font-family: 'TildaSans', Arial, sans-serif;