$text-color: rgb(0, 0, 0); 
$text-color-accent: rgb(44, 85, 69);
$text-color-button: rgb(255, 255, 255);
$button-bg: rgb(0, 0, 0);
$button-shadow: rgb(136, 141, 153);
$background-color-1: white;
$background-color-2: rgb(220, 220, 220, 0.5);
$map__text-color-accent: rgb(0 0 0);