$screen1__text-color: rgb(0, 0, 0); 
$screen1__text-color-button: rgb(255, 255, 255);
$screen1__text-color-accent: rgb(44, 85, 69); //15, 3, 124
$screen1__batton-shadow: rgb(136, 141, 153);
$screen1__color-accent: rgb(44, 85, 69, 0.9);//50, 50, 50
$about__text-color: rgb(0, 0, 0); 
$about__color-accent: rgb(44, 85, 69);//8, 8, 94
$background-color-1: white;
$background-color-2: rgb(220, 220, 220, 0.5);