@import "Normalize";
@import "variables";
@import "typography";
@import "mixin";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/reviews";
@import "components/main-container";
@import "components/screen1";
@import "components/about";
@import "components/services1";
@import "components/map";
@import "components/consult";
