* {
  box-sizing: border-box;
  max-width: 100vw;
  height: fit-content;
}

.service {
  display: flex;
  flex-direction: column;
}

.service__title {
  text-align: center;
  margin-bottom: 20px;
}

// Картинка+ инфо

.service__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;

  @media screen and (min-width: 249px) and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.service__img-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  @media screen and (min-width: 249px) and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}

.service__img {
  max-width: 100%;

  @media screen and (min-width: 992px) {
    width: 100%;
    height: 100%;
    float: left;
  }
}

.service__text-part {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (min-width: 249px) and (max-width: 992px) {
    align-items: center;
    width: 90%;
  }
}

.service__text {
  color: black;
  text-align: justify;
}

// Разделитель
.service__divide-line {
  width: 50vw;
  margin: auto;
  border: 1px solid rgb(44, 85, 69);
  margin-top: 20px;
  margin-bottom: 20px;
}

// Калькулятор

.service__subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.service__calc {
  text-align: center;
}
