* {
  box-sizing: border-box;
  max-width: 100vw;
}

.service__title {
  text-align: center;
  margin-bottom: 20px;
}

.service__img {
  width: 40%;
  float: left;
  max-height: max-content;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.service__text {
  padding-left: 20px;
  text-align: justify;
  font-size: 16px;
}

// Список услуг

.service__list-item {
  list-style: inside;
}

// Разделитель
.service__divide-line {
  width: 50vw;
  margin: auto;
  border: 1px solid rgb(44, 85, 69);
  margin-top: 20px;
  margin-bottom: 20px;
}

// Калькулятор

.service__subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.service__calc {
  text-align: center;
}

.service__price-item {
  list-style: none;
}

.service__main-price {
  font-weight: 700;
}

// Таблица доп услуг
.service__table {
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid rgb(44, 85, 69);
  border-collapse: collapse;
}

.service__table th {
  font-weight: bold;
  padding: 10px;
  background-color: rgb(44, 85, 69);
  border: 1px solid black;
  color: white;
}

.service__table tr {
  border: 1px solid rgb(44, 85, 69);
  padding: 10px;
}

.service__table td {
  text-align: center;
}

.service__table td {
  border: 1px solid rgb(44, 85, 69);
  padding: 10px;
}

// Кнопка
.service__button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.service__button:hover {
  background-color: rgb(44, 85, 69);
}

//  Моб стили
@media screen and (min-width: 249px) and (max-width: 767px) {
  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .service__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .service__img-part {
    display: flex;
    justify-content: center;
  }

  .service__img {
    display: none;
  }
}
