.footer {
  background-color: black;
  color: white;

  .footer__container {
    display: grid;
    grid-template-columns: 1vh 1vh repeat(4, 1fr) 15vh;
    grid-template-rows: auto 10vh 5vh;
  }

  .footer__logo {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-content: center;
    align-content: center;
  }

  .footer__nav {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;
    margin-top: 4vh;
    margin-left: 5vh;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    text-transform: uppercase;
  }

  .footer__link,
  .footer__link__1 {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }

  .footer__info {
    display: grid;
    grid-column: 5/6;
    grid-row: 1/2;
    margin: 4vh 4vh 4vh -3vh;
  }

  .footer__info__company {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .footer__contacts {
    display: grid;
    grid-column: 6/8;
    grid-row: 1/2;
    margin: 4vh;
  }

  .footer__address,
  .footer__tel,
  .footer__email {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .footer__socials {
    display: grid;
    grid-column: 6/7;
    grid-row: 2/3;
    margin-left: 4vh;
    text-transform: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .footer__socials-telegram,
  .footer__socials-vk {
    opacity: 0;
  }

  .footer__copyright {
    grid-row: 3/4;
    grid-column: 1/8;
    color: rgba(199, 199, 199, 0.5);
    text-align: center;
    background-color: black;
    border-top: 1px solid rgba(189, 189, 189, 0.418);
    font-size: 0.8em;
    padding-top: 1vh;
  }

  /* Mobile styles */

  @media screen and (max-width: 300px) {
    .footer__nav-list {
      font-size: 0.7em;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 5vh 5vh;
    }

    .footer__logo {
      display: none;
    }

    .footer__nav {
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0;
      align-content: center;
    }

    .footer__nav-list {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      list-style-type: none;
      justify-content: space-around;
      align-content: center;
      margin-top: 4vh;
    }

    .footer__link {
      display: none;
    }

    .footer__info {
      display: none;
    }

    .footer__contacts {
      display: none;
    }

    .footer__socials {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__container {
      display: grid;
      grid-template-columns: 10vh repeat(3, 1fr) 10vh;
      grid-template-rows: auto auto 5vh;
    }

    .footer__logo {
      display: none;
    }

    .footer__nav {
      display: grid;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .footer__info {
      display: grid;
      grid-column: 3/4;
      grid-row: 1/2;
    }

    .footer__contacts {
      display: grid;
      grid-column: 4/5;
      grid-row: 1/2;
    }

    .footer__socials {
      display: grid;
      grid-column: 4/5;
      grid-row: 2/3;
      align-content: start;
      margin-bottom: 3vh;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1999px) {
    .footer__container {
      display: grid;
      grid-template-columns: 17vh 7vh repeat(4, 1fr) 20vh;
      grid-template-rows: auto 10vh 5vh;
    }
  }

  @media screen and (min-width: 2000px) {
    .footer__container {
      display: grid;
      grid-template-columns: 17vh 7vh repeat(4, 1fr) 20vh;
      grid-template-rows: auto 10vh 5vh;
      font-size: 1.5em;
    }
  }
}
