.header {
  color: rgb(44, 85, 69);
  margin-bottom: 1.5em;
}

.header__company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  height: fit-content;
  width: 27%;
}

.header__company-name {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 3px;
  color: black;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav {
  background: white;
  color: rgb(44, 85, 69);
}

.header__contact {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 15px;
  margin-right: 10px;

  &:hover {
    color: rgb(44, 85, 69);
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}

.topmenu > div {
  float: left;
  position: relative;
  font-weight: 400;
}
.topmenu > div:first-child {
  border-left: 0;
}
.topmenu > div > a {
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(44, 85, 69);
  letter-spacing: 2px;
}

.topmenu a:hover {
  text-decoration: underline;
}

.submenu a:hover {
  color: #ddbe86;
}

.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc;

  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu div {
  border-bottom: 1px solid #cbcbcc;
  position: relative;
  min-width: 400px;
}
.submenu div a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
}
.submenu .submenu {
  position: absolute;
  left: 25%;
  top: 100%;
  transition: 0.3s linear;
}
nav div:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

// Header mobile

.mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.mobile-header__contact {
  text-decoration: none;
  cursor: pointer;
  color: black;
  position: fixed;
  top: 0em;
  right: 1em;

  &:hover {
    color: rgb(44, 85, 69);
  }
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  color: #fff;
  border: 1px solid #222;
  padding: 5px;
  position: fixed;
  top: 25px;
  right: 15px;
  cursor: pointer;
  transition: left 0.23s;
  z-index: 3;
  width: 35px;
  height: 35px;
  transform: translateZ(0);
  backface-visibility: hidden;
  border-radius: 2px;
}

.btn-menu span {
  display: block;
  height: 5px;
  background-color: rgb(44, 85, 69);
  margin: 5px 0 0;
  transition: all 0.1s linear 0.1s;
  position: relative;
}

.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 50px 10px 10px;
  margin: 0;
  box-sizing: border-box;
  width: 300px;
  background-color: #fdf7f7;
  height: 100%;
  top: 0;
  right: -500px;
  transition: right 0.2s;
  z-index: 2;
  transform: translateZ(0);
  backface-visibility: hidden;
  overflow: scroll;
}

.hidden-menu div {
  padding: 10px 0;
}

.hidden-menu div a {
  font-size: 15px;
  color: #000;
  padding: 6px 0px;
  text-decoration: none;

  &:hover {
    color: #ddbe86;
    text-decoration: underline;
  }
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 15px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  transform: rotate(-45deg);
  top: -10px;
}

// Подменю моб версии

.hidden-submenu {
  display: none;
}

.hidden-submenu-1 {
  display: none;
}

.hidden-menu:hover > .hidden-submenu {
  display: inline-block;
}

.hidden-submenu:hover > .hidden-submenu-1 {
  display: inline-block;
}

.hidden-submenu div {
  background-color: #fdf7f7;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  font-size: 5px;
}

.hidden-submenu div a {
  font-size: 12px;
  width: 70vw;
}

.hidden-submenu-1 div {
  background-color: #fdf7f7;
  text-decoration: none;
  list-style-type: none;
}

.hidden-submenu-1 div a {
  font-size: 10px;
}

@media screen and (min-width: 249px) and (max-width: 992px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
