.screen1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.screen1__text-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 50%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding-right: 5%;
  padding-left: 4.5%;
}

.screen1__img-part {
  width: 50%;
  background-color: rgb(251, 251, 251);
}

.screen1__h1 {
  font-size: 2.3em;
  font-weight: 600;
  color: $text-color;
}

.screen1__h1-underline {
  text-decoration: underline;
}

.screen1__h1-color {
  color: $text-color-accent;
}

.screen1__text {
  font-size: 1.25em;
  font-weight: 300;
}

.screen1__button-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 3em;
  border: none;
  height: 3.3em;
  width: 11em;
}

.screen1__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  height: 4em;
  width: 9em; //увеличение шрифта - меняется ширина
  background-color: rgb(50, 50, 50);
  color: $text-color-button;
  font-size: 1.2em; //увеличение шрифта - меняется ширина
  box-shadow: 0px 2px 4px;
  border-radius: 10px;
}

.screen1__link {
  text-decoration: none;
  cursor: pointer;
}

.screen1__img {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
}
