.screen1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(252, 0, 0);
}

.screen1__text-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 50%;
  height: auto;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-self: center;
  padding-right: 5%;
  padding-left: 4.5%;
  padding-bottom: 2em;
}

.screen1__img-part {
  display: flex;
  align-self: center;
  width: 50%;
  background-color: rgb(251, 251, 251);
}

.screen1__h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: $text-color;
}

.screen1__h1-underline {
  //убрать это или подчеркивание
  text-decoration: underline;
}

.screen1__h1-color {
  //убрать это или подчеркивание
  color: $text-color-accent;
}

.screen1__text {
  font-size: 1.25em;
  font-weight: 300;
  color: $text-color;
}

.screen1__button-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 3em;
  border: none;
  height: 3.3em;
  width: 11em;
}

.screen1__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  height: 4em;
  width: 9em;
  background-color: $button-bg;
  color: $text-color-button;
  font-size: 1.2em;
  box-shadow: 0px 2px 4px $button-shadow;
  // border-radius: 10px;
}

.screen1__link {
  text-decoration: none;
  cursor: pointer;
}

.screen1__img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

//Adative - Mobile 767, Tablet 767-991

@media screen and (min-width: 249px) and (max-width: 991px) {
  .screen1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
  }

  .screen1__text-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 90%;
    background-color: rgb(255, 255, 255);
    padding-right: 5%;
    padding-left: 4.5%;
    text-align: left;
    margin-bottom: 8rem;
  }

  .screen1__h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: $text-color;
  }

  .screen1__h1-underline {
    //убрать это или подчеркивание
    text-decoration: underline;
  }

  .screen1__h1-color {
    //убрать это или подчеркивание
    color: $text-color-accent;
  }

  .screen1__text {
    font-size: 1em;
    font-weight: 300;
    color: $text-color;
  }

  .screen1__button-wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 2em;
    right: -90%;
    margin-top: 3em;
    border: none;
    height: 3.3em;
    width: 11em;
  }

  .screen1__button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 8em;
    background-color: $button-bg;
    color: $text-color-button;
    font-size: 1em;
    box-shadow: 0px 2px 4px $button-shadow;
    // border-radius: 10px;
  }

  .screen1__link {
    text-decoration: none;
    cursor: pointer;
  }

  .screen1__img-part {
    width: 100%;
    height: 1px;
    background-color: rgb(236, 5, 5);
  }

  .screen1__img {
    display: none;
    // overflow: hidden;
    // width: 100%;
    // max-width: 100%;
    // height: auto;
    // margin: -8.5rem -18rem 0rem 0rem;
  }
}
