
$services__text-color: white ;

.services {
   overflow: hidden;
   background-color: white;
   box-sizing: border-box;
}

.services__item {
    max-width: 350px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    


    @media screen and (max-width: 576px){
        max-width: 280px;
        min-height: 250px;
    }

    @media screen and (max-width: 768px){
        max-width: 360px;
        min-height: 330px;
    }

    @media screen and (max-width: 992px){
        max-width: 210px;
        min-height: 180px;
    }

    @media screen and (max-width: 1200px){
        max-width: 280px;
        min-height: 250px;
    }

    @media screen and (min-width: 1200px){
        max-width: 350px;
        min-height: 320px;
    }

}


.services__item-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

// Кнопка при наведении

.services__item {
    cursor: pointer;
    position: relative;
}


.services__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Настройка цвета и прозрачности для блока с заголовком */
    transition: background 0.5s ease;
}

.services__item:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
  }

.services__item-name {
        position: absolute;
        width: 100%;
        left: 0;
        top: 20%; /* Отступ сверху */
        font-size:20px; /* Размер текста заголовка */
        text-align: center;
        text-transform: uppercase; /* Заглавные буквы */
        color: $services__text-color; /* Цвет заголовка */
        z-index: 1;
        transition: top .5s ease;
        padding: 0 20px;
}

.services__item:hover .services__item-name {
    top: 10%; /* Отступ сверху при наведении */
  }


.services__button-link {
    background-color: transparent;
    border: none;
    position: absolute;
    left:25%;
    top: 65%; /* Отступ сверху */
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .35s ease;
}

.services__button  {
    padding: 15px 40px; /* Отступ */
    text-align: center;
    background: black; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Ширина, стиль и цвет границы */
    z-index: 1; 
    text-decoration: none;
    border-radius: 20px;
  }

  .services__item:hover .services__button-link {
    opacity: 1;
  }


.services__item_item-1 {
    background-image: url("../img/services/service-12.jpg");

}

.services__item_item-2 {
    background-image: url("../img/services/service-11.jpg");

}

.services__item_item-3 {
        background-image: url("../img/services/service-5.jpg");

    }

.services__item_item-4 {
        background-image: url("../img/services/service-6.jpg");
 
    }

    .services__item_item-5 {
        background-image: url("../img/services/service-7.jpg");
   
    }

    .services__item_item-6 {
        background-image: url("../img/services/service-8.jpg");
   
    }

    .services__item_item-7 {
        background-image: url("../img/services/service-2.jpg");
  
    }

    .services__item_item-8 {
        background-image: url("../img/services/service-4.jpg");

    }

    .services__item_item-9 {
        background-image: url("../img/services/service-9.jpg");

    }


// Модальное окно

.modal__close {
    background-color: transparent;
    border: none;
    font-size: 2em;

}
 

//  Иконка выбор клиентов
.services__client-choice-icon {
    filter: brightness(100%);
}

.services__item_item-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}