.services1 {
  display: grid;
  justify-items: center;
}

.services1__subtitle {
  text-align: center;
  margin: 0.5em 0;
}

.services1__content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 80vw;
  gap: 1em;

  @media screen and (max-width: 576px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 576px) and (max-width: 998px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.services1__icon {
  padding: 1em;
}

.services1__text {
  max-width: 80%;
  text-align: center;
}

.services1__button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

// Вращение карточки

.service1__card {
  position: relative;
  color: white;
  -webkit-perspective: 1200;
  perspective: 1200;
  // -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card__front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px solid rgb(0, 128, 0);
  color: black;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  border-radius: 20px;
}

.card__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  background-color: rgb(0, 128, 0);
  transform: rotateY(-180deg);
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  padding: 1.5em;
  border-radius: 20px;
  font-size: 0.9em;
}

.service1__card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
}
.service1__card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
}
